<section class="relative overflow-hidden">
  <div class="max-w-screen-xl px-8 pt-24 mx-auto md:px-12 lg:px-32 lg:pb-0">
    <div>
      <span
        class="font-mono text-sm font-medium tracking-tight text-blue-600 uppercase"
      >
       Productized Studio
      </span>
      <h1
        class="mt-8 text-4xl font-semibold tracking-tighter text-blue-950 md:text-6xl"
      >
        Discover Amazing <span class="md:block">Productized Studios</span
        >
      </h1>
      <p class="max-w-sm mt-4 text-base text-gray-700 lg:text-base">
        Revolutionizing the financial landscape with cutting-edge technology and
        expertise
      </p>
      <div class="flex flex-wrap items-center gap-2 mt-10">
        <a
          href="/studios"
          title="Productized Studios Directory"
          aria-label="Productized Studios Directory"
          class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-white transition-all duration-200 rounded-full bg-gradient-to-b from-blue-500 to-indigo-600 hover:to-indigo-700 shadow-button shadow-blue-600/50 focus:ring-2 focus:ring-blue-950 focus:ring-offset-2 ring-offset-gray-200 hover:shadow-none"
          >Browse Directory →</a
        >
        <a
          href="/forms/contact"
          title="Sponsor Productized Studio"
          aria-label="Sponsor Productized Studio"
          class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-gray-500 transition-all duration-200 bg-white border border-gray-300 rounded-full hover:text-blue-700 focus:ring-2 shadow-button shadow-gray-500/5 focus:ring-blue-950 focus:ring-offset-2 ring-offset-gray-200 hover:shadow-none"
          >Sponsor</a
        >
      </div>
    </div>
  </div>

</section>
