---
const faq = [
  {
    question: "Why is Productized.Studio the best place to find productized service agencies?",
    answer: "Productized.Studio is the premier platform for discovering top-notch productized service agencies. Our curated directory ensures that every agency listed has been vetted for quality, ensuring you find the best fit for your project needs.",
  },
  {
    question: "How do I get started with finding a productized service agency?",
    answer: "Getting started is easy. Browse our directory, filter by your project requirements, and explore the profiles of our listed agencies. Reach out to the ones that best match your needs.",
  },
  {
    question: "What makes Productized.Studio different from other directories?",
    answer: "Our focus on productized services sets us apart. We specialize in showcasing agencies that offer packaged solutions, making it easier for you to find the right partner for your project.",
  },
  {
    question: "How do you ensure the quality of the agencies listed?",
    answer: "We have a rigorous vetting process in place to ensure that every agency listed meets our high standards. This includes reviewing their portfolio, client feedback, and service offerings.",
  },
  {
    question: "Can I trust the agencies listed on Productized.Studio?",
    answer: "Absolutely. We take pride in our curated directory, and every agency listed has been thoroughly vetted. You can trust that you're working with a reliable partner.",
  },
  {
    question: "How can I reach out to an agency I'm interested in?",
    answer: "Each agency profile includes contact information and a brief description of their services. Feel free to reach out to them directly to discuss your project needs.",
  }
];
---

<section>
  <div class="max-w-screen-xl px-8 py-24 mx-auto md:px-12 lg:px-32">
    <div class="max-w-2xl">
      <span
        class="font-mono text-sm font-medium tracking-tight text-blue-600 uppercase"
      >
        FAQ
      </span>
      <p class="mt-8 text-4xl font-semibold tracking-tighter text-blue-950">
        Frquently asked questions <span
          class="md:block md:text-transparent md:bg-clip-text md:bg-gradient-to-r from-blue-500 to-indigo-600 py-2"
          >ready to be answered</span
        >
      </p>
      <p class="max-w-xl mt-4 text-base text-gray-700 lg:text-base">
        Every studio listed is added by the Productized Team after a thorough review. No Spam, No Ads, No Emails.
      </p>
    </div>
    <div class="flex flex-col gap-2 mt-12">
      {
        faq.map((faq) => (
          <>

            <details class="p-4 bg-white rounded-lg shadow-box shadow-gray-500/20">
              <summary class="font-mono text-sm tracking-tighter uppercase cursor-pointer focus:text-blue-700">
                {faq.question}
              </summary>
              <p class="pl-2 mt-8 text-sm text-gray-700">{faq.answer}</p>
            </details>
          </>
        ))
      }


    </div>
  </div>
</section>
