---
const comparisons = [
  {
    title: "Detailed rejection information",
    description:
      "Immediately receive in-depth rejection codes and accompanying notes for a swift understanding of the precise reasons behind a payment failure.",
    alfred: true,
    other: false,
  },
  {
    title: "Transaction identification",
    description:
      "Receive a distinctive transfer identifier from the RTP network right away to verify the initiation of a payment",
    alfred: true,
    other: false,
  },
  {
    title: "Source account number",
    description:
      "Immediately confirm the ownership of a third-party account by cross-referencing the received RTP transaction's account number.",
    alfred: true,
    other: false,
  },
  {
    title: "Payment Failure Insights",
    description:
      "Quickly obtain thorough rejection codes and accompanying notes for a precise understanding of the payment failure's root cause",
    alfred: true,
    other: false,
  },
  
];
---
<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-32 max-w-screen-xl">
    <div class="grid grid-cols-4 items-end pb-8">
      <div class="col-span-4 max-w-[460px] md:col-span-2">
        <span
          class="text-blue-600 uppercase font-mono font-medium tracking-tight text-xs"
        >
          Comparisons
        </span>
        <p class="text-4xl mt-8 tracking-tighter font-semibold text-blue-950">
          All the details come <span
            class="md:block md:text-transparent md:bg-clip-text md:bg-gradient-to-r from-blue-500 to-indigo-600 py-2"
            >directly from the source.</span
          >
        </p>
      </div>
      <div class="col-span-1 hidden md:block text-center text-sm font-medium">
        Alfred
      </div>
      <div class="col-span-1 hidden md:block text-center text-sm font-medium">
        Other processors
      </div>
    </div>
    <div class="border-y divide-y">
      {
        comparisons.map((comparison, index) => (
          <div
            key={index}
            class="grid grid-flow-row-dense grid-cols-4 items-start py-6 gap-4"
          >
            <div class="order-1 col-span-3 md:col-span-2 lg:col-span-1">
              <p class="font-mono uppercase tracking-tighter text-sm">
                {comparison.title}
              </p>
            </div>
            <p class="text-gray-700 order-4 text-sm col-span-3 md:col-span-2 lg:order-2 lg:col-span-1">
              {comparison.description}
            </p>
            <div class="order-2 justify-self-center lg:order-3">
              {comparison.alfred ? (
                <div class="inline-flex items-center w-6 h-6 justify-center text-white p-1 rounded-full bg-gradient-to-b from-blue-500 to-indigo-600">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler w-4 h-4 icon-tabler-check"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M5 12l5 5l10 -10" />
                  </svg>
                </div>
              ) : (
                <div class="inline-flex items-center w-6 h-6 justify-center text-gray-400 p-1 rounded-full bg-gray-200">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler w-4 h-4 icon-tabler-x"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M18 6l-12 12" />
                    <path d="M6 6l12 12" />
                  </svg>
                </div>
              )}
            </div>
            <div class="order-3 hidden md:block justify-self-center lg:order-4">
              {comparison.other ? (
                <div class="inline-flex items-center w-6 h-6 justify-center text-white p-1 rounded-full bg-gradient-to-b from-blue-500 to-indigo-600">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler w-4 h-4 icon-tabler-check"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M5 12l5 5l10 -10" />
                  </svg>
                </div>
              ) : (
                <div class="inline-flex items-center w-6 h-6 justify-center text-blue-700 p-1 rounded-full bg-gray-200">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler w-4 h-4 icon-tabler-x"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M18 6l-12 12" />
                    <path d="M6 6l12 12" />
                  </svg>
                </div>
              )}
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
