---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout>
  <section>
    <div class="relative max-w-screen-xl px-8 py-24 mx-auto md:px-12 lg:px-32">
      <div class="max-w-3xl mx-auto">
        <div>
          <span
            class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
          >
            help center
          </span>
          <p class="mt-8 text-4xl font-semibold tracking-tighter text-blue-950">
            {frontmatter.title}
          </p>
          <p class="max-w-sm mt-4 text-base text-gray-700 lg:text-base">
            {frontmatter.intro}
          </p>
        </div>
        <div class="prose-styles">
          <slot />
        </div>
      </div>
    </div>
  </section>


</BaseLayout>
